In [1]:
DB_PATH: str = "./test.db"

import sqlite3
db = sqlite3.Connection(DB_PATH)
cursor = db.cursor()

In [2]:
create_tables = """
    DROP TABLE IF EXISTS Buildings;
    DROP TABLE IF EXISTS Nodes;
    DROP TABLE IF EXISTS Position;
    DROP TABLE IF EXISTS Edges;
    DROP TABLE IF EXISTS Building_Sources_Nodes;


    CREATE TABLE Buildings
        (building_id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL);
    CREATE TABLE Nodes
        (node_id INTEGER PRIMARY KEY AUTOINCREMENT,
        record_number TEXT,
        name TEXT,
        node_type TEXT);
    CREATE TABLE Edges
        (edge_id INTEGER PRIMARY KEY AUTOINCREMENT,
        source_node INTEGER REFERENCES Nodes(node_id) NOT NULL,
        target_node INTEGER REFERENCES Nodes(node_id) NOT NULL,
        source_side INTEGER,
        source_rank FLOAT);
"""
cursor.executescript(create_tables)

In [3]:
cursor.execute('''
               SELECT name
               FROM sqlite_master
               WHERE type='table' AND
                     name NOT LIKE 'sqlite_%' ''')
table_names = cursor.fetchall()

# List table names
print("Here are the tables in the database:")
for name in table_names:
    print(name[0])

Here are the tables in the database:
Buildings
Nodes
Edges

In [4]:
populate_buildings = """
INSERT INTO Buildings (name) VALUES ("small");
INSERT INTO Nodes (name, node_type) VALUES ("hallway_1", "room");
INSERT INTO Nodes (name, node_type) VALUES ("1", "room");
INSERT INTO Nodes (name, node_type) VALUES ("1 door", "door");
INSERT INTO Edges (source_node, target_node, source_side, source_rank) VALUES (2, 3, 0, 0);
INSERT INTO Edges (source_node, target_node, source_side, source_rank) VALUES (1, 3, 1, 1);
INSERT INTO Nodes (name, node_type) VALUES ("2", "room");
INSERT INTO Nodes (name, node_type) VALUES ("2 door", "door");
INSERT INTO Edges (source_node, target_node, source_side, source_rank) VALUES (4, 5, 0, 0);
INSERT INTO Edges (source_node, target_node, source_side, source_rank) VALUES (1, 5, 1, 2);
INSERT INTO Nodes (name, node_type) VALUES ("3", "room");
INSERT INTO Nodes (name, node_type) VALUES ("3 door", "door");
INSERT INTO Edges (source_node, target_node, source_side, source_rank) VALUES (6, 7, 0, 0);
INSERT INTO Edges (source_node, target_node, source_side, source_rank) VALUES (1, 7, 2, 1);
INSERT INTO Nodes (name, node_type) VALUES ("hallway_2", "room");
INSERT INTO Edges (source_node, target_node, source_side, source_rank) VALUES (1, 8, 3, 1);
INSERT INTO Nodes (name, node_type) VALUES ("exit_1", "room");
INSERT INTO Nodes (name, node_type) VALUES ("exit_1 door", "door");
INSERT INTO Edges (source_node, target_node, source_side, source_rank) VALUES (9, 10, 0, 0);
INSERT INTO Edges (source_node, target_node, source_side, source_rank) VALUES (1, 10, 4, 1);
INSERT INTO Nodes (name, node_type) VALUES ("hallway_2", "room");
INSERT INTO Nodes (name, node_type) VALUES ("4", "room");
INSERT INTO Nodes (name, node_type) VALUES ("4 door", "door");
INSERT INTO Edges (source_node, target_node, source_side, source_rank) VALUES (12, 13, 0, 0);
INSERT INTO Edges (source_node, target_node, source_side, source_rank) VALUES (11, 13, 1, 1);
INSERT INTO Nodes (name, node_type) VALUES ("5", "room");
INSERT INTO Nodes (name, node_type) VALUES ("5 door", "door");
INSERT INTO Edges (source_node, target_node, source_side, source_rank) VALUES (14, 15, 0, 0);
INSERT INTO Edges (source_node, target_node, source_side, source_rank) VALUES (11, 15, 2, 1);
INSERT INTO Nodes (name, node_type) VALUES ("6", "room");
INSERT INTO Nodes (name, node_type) VALUES ("6 door", "door");
INSERT INTO Edges (source_node, target_node, source_side, source_rank) VALUES (16, 17, 0, 0);
INSERT INTO Edges (source_node, target_node, source_side, source_rank) VALUES (11, 17, 2, 2);
INSERT INTO Nodes (name, node_type) VALUES ("hallway_1", "room");
INSERT INTO Edges (source_node, target_node, source_side, source_rank) VALUES (11, 18, 3, 1);
INSERT INTO Nodes (name, node_type) VALUES ("exit_2", "room");
INSERT INTO Nodes (name, node_type) VALUES ("exit_2 door", "door");
INSERT INTO Edges (source_node, target_node, source_side, source_rank) VALUES (19, 20, 0, 0);
INSERT INTO Edges (source_node, target_node, source_side, source_rank) VALUES (11, 20, 4, 1);
"""
cursor.executescript(populate_buildings)

In [5]:
db.commit()

In [6]:
import networkx as nx
from pyvis.network import Network

ALL_NODES = """
    WITH Source_Node_Info AS (SELECT node_id, name FROM Nodes),
        Target_Node_Info AS (SELECT node_id, name FROM Nodes)
    SELECT S.name, T.name 
        FROM Edges E, Source_Node_Info S, Target_Node_Info T
        WHERE E.source_node = S.node_id
            AND E.target_node = T.node_id
        ORDER BY source_node;
"""

G = nx.Graph()
cursor.execute(ALL_NODES)
terms_info = cursor.fetchall()
G.add_edges_from(terms_info)
nt = Network('750px', '80%', cdn_resources='remote')
nt.from_nx(G)
nt.show_buttons()
nt.show('test-buildLang.html', notebook=False)
# nx.write_gml(G, "test.gml")

test-buildLang.html